@media only screen and (max-width: 1920px) {

    
    .about {
        display: flex;
        justify-content: space-between;
        padding: 0px 80px;
        margin-top: 40px;
        gap: 30px;
    }

    .abt-text {
        max-width: 800px;
        color: #fff;
        text-align: justify;
        font-size: 24px;
        line-height: 40px;
        font-weight: 600;
    }

    .abt-img img {
        max-width: 650px;
        max-height: 680px;
    }

    .services {
        margin-top: 120px;

    }

    .ser-head {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .ser-head p {
        max-width: 240px;
        font-size: 30px;
        color: #000000;
        background-color: #ecc36b;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;
        font-weight: 800;
    }

    /* card1 */
    .ser-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0px 80px;
        gap: 40px;
    }

    .ser-card1 {
        max-width: 470px;
        justify-content: center;
        align-items: center;
    }

    .ser-card1 img {
        max-width: 470px;
        max-height: 325px;
        align-items: center;
    }

    .ser-card1 h4 {
        font-size: 24px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: justify;
    }

    .ser-card1 p {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: justify;
    }

    /* card2 */
    .ser-card2 {
        max-width: 470px;
        margin-top: 2px;
        justify-content: center;
        align-items: center;
    }

    .ser-card2 img {
        max-width: 470px;
        max-height: 325px;
        align-items: center;
    }

    .ser-card2 h4 {
        font-size: 24px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: justify;
    }

    .ser-card2 p {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: justify;
    }

    /* card3 */

    .ser-card3 {
        max-width: 470px;
        margin-top: 2px;
        justify-content: center;
        align-items: center;
    }

    .ser-card3 img {
        max-width: 470px;
        max-height: 325px;
        align-items: center;
    }

    .ser-card3 h4 {
        font-size: 24px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: justify;
    }

    .ser-card3 p {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: justify;
    }
}

@media only screen and (max-width: 1600px) {

    

    .about {
        display: flex;
        justify-content: space-between;
        padding: 0px 40px;
        margin-top: 40px;
        gap: 30px;
    }

    .abt-text {
        max-width: 600px;
        color: #fff;
        text-align: justify;
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
    }

    .abt-img img {
        max-width: 500px;
        max-height: 530px;
    }

    .services {
        margin-top: 120px;

    }

    .ser-head {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .ser-head p {
        max-width: 240px;
        font-size: 30px;
        color: #000000;
        background-color: #ecc36b;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;
        font-weight: 800;
    }

    /* card1 */
    .ser-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0px 80px;
        gap: 40px;
    }

    .ser-card1 {
        max-width: 346px;
        justify-content: center;
        align-items: center;
    }

    .ser-card1 img {
        max-width: 370px;
        max-height: 225px;
        align-items: center;
    }

    .ser-card1 h4 {
        font-size: 20px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: justify;
    }

    .ser-card1 p {
        color: #fff;
        font-weight: 500;
        text-align: justify;
    }

    /* card2 */
    .ser-card2 {
        max-width: 346px;
        justify-content: center;
        align-items: center;
    }

    .ser-card2 img {
        max-width: 370px;
        max-height: 225px;
        align-items: center;
    }

    .ser-card2 h4 {
        font-size: 20px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: justify;
    }

    .ser-card2 p {
        color: #fff;
        font-weight: 500;
        text-align: justify;
    }

    /* card3 */

    .ser-card3 {
        max-width: 346px;
        justify-content: center;
        align-items: center;
    }

    .ser-card3 img {
        max-width: 370px;
        max-height: 225px;
        align-items: center;
    }

    .ser-card3 h4 {
        font-size: 20px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: justify;
    }

    .ser-card3 p {
        color: #fff;
        font-weight: 500;
        text-align: justify;
    }

    
}

@media only screen and (max-width: 760px) {


    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background-color: #000000;
    }

    ::-webkit-scrollbar-thumb {
        background: #ecc36b
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 6px;
    }

    .nav-sec {
        padding: 5px 10px 5px 10px;

    }

    .nav {
        padding: 8px 20px 0px 20px;
        max-width: 1920px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .logo {
        width: 80px;
        height: 80px;
    }



    .more {
        height: 0;
        position: absolute;
        top: 110px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #ecc36b;
        transition: 0.5s;
        overflow: hidden;
    }

    .more.active {
        height: 310px;
    }

    .more ul {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        max-width: 150px;
        padding: 0px 40px;
        font-size: 15px;
        opacity: 0;
        transition: 0.5s;
    }
    .more.active ul {
        opacity: 1;
    }

    .more ul li {
        padding: 10px;
        background-color: #000000;
        color: #fff;
        border: 2px solid #ecc36b;
        border-radius: 10px;
    }

    .more ul a {
        text-decoration: none;
        list-style: none;
        padding: 0px;
        border: 1px solid #ecc36b;
        border-radius: 0px;
    }

    .menu-btn {
        display: block;
        color: #ecc36b;
        font-size: 50px;
    }

    .container-1 {
        margin: 0;
        padding: 0px 10px;
        height: 300px;
        background-image: url(./img/first-sec.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }

    .main {
        padding: 0px 20px;
    }

    .main h2 {
        font-size: 40px;
        margin: 0;
        letter-spacing: 3px;
    }

    .main h4 {
        font-size: 16px;
        margin: 0;
        letter-spacing: 2px;
    }

    .main h5 {
        font-size: 16px;
        margin: 0;
        letter-spacing: 2px;
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        margin-top: 40px;
    }

    .abt-text {
        max-width: 550px;
        color: #fff;
        text-align: justify;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
    }

    .abt-img img {
        max-width: 550px;
        height: 580px;
    }


    .about-head p {
        font-size: 40px;
        font-weight: 800;
        width: 100%;
        height: 200px;
        color: #fff;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .services {
        margin-top: 120px;

    }

    .ser-head {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .ser-head p {
        max-width: 240px;
        font-size: 30px;
        color: #000000;
        background-color: #ecc36b;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;
        font-weight: 800;
    }

    /* card1 */
    .ser-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        gap: 40px;
    }

    .ser-card1 {
        max-width: 470px;
        justify-content: center;
        align-items: center;
    }

    .ser-card1 img {
        max-width: 470px;
        max-height: 325px;
        align-items: center;
    }

    .ser-card1 h4 {
        max-width: 470px;
        font-size: 20px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: center;
    }

    .ser-card1 p {
        max-width: 470px;
        color: #fff;
        font-weight: 500;
        text-align: justify;
    }

    /* card2 */
    .ser-card2 {
        max-width: 470px;
        justify-content: center;
        align-items: center;
    }

    .ser-card2 img {
        max-width: 470px;
        max-height: 325px;
        align-items: center;
    }

    .ser-card2 h4 {
        max-width: 470px;
        font-size: 20px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: center;
    }

    .ser-card2 p {
        max-width: 470px;
        color: #fff;
        font-weight: 500;
        text-align: justify;
    }


    /* card3 */

    .ser-card3 {
        max-width: 470px;
        justify-content: center;
        align-items: center;
    }

    .ser-card3 img {
        max-width: 470px;
        max-height: 325px;
        align-items: center;
    }

    .ser-card3 h4 {
        max-width: 470px;
        font-size: 20px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: center;
    }

    .ser-card3 p {
        max-width: 470px;
        color: #fff;
        font-weight: 500;
        text-align: justify;
    }

    .footer-container {
        max-height: 400px;
        max-width: 490px;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        padding: 0px 40px;
    }

    .footer-logo {
        margin-top: 30px;
        width: 150px;
        height: 150px;
    }

}


/* 375px */
@media only screen and (max-width: 476px) {
    .nav-sec {
        padding: 5px 10px 5px 10px;

    }

    .nav {
        padding: 8px 20px 0px 20px;
        max-width: 1920px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .logo {
        width: 60px;
        height: 60px;
    }



    .more {
        height: 0;
        position: absolute;
        top: 78px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #ecc36b;
        transition: 0.5s;
        overflow: hidden;
    }

    .more.active {
        height: 300px;
    }

    .more ul {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        max-width: 150px;
        padding: 0px 40px;
        font-size: 14px;
        opacity: 0;
        transition: 0.5s;
    }

    .more.active ul {
        opacity: 1;
    }

    .more ul li {
        padding: 10px;
        background-color: #000000;
        color: #fff;
        border-radius: 10px;
    }

    .more ul a {
        text-decoration: none;
        list-style: none;
        padding: 0px;
        border: 1px solid #ecc36b;
        border-radius: 0px;
    }

    .menu-btn {
        display: block;
        color: #ecc36b;
        font-size: 30px;
    }


    .container-1 {
        margin: 0;
        padding: 0px 10px;
        height: 300px;
        background-image: url(./img/first-sec.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }

    .main {
        padding: 0px 20px;
    }

    .main h2 {
        font-size: 20px;
        margin: 0;
        letter-spacing: 3px;
    }

    .main h4 {
        font-size: 9px;
        margin: 0;
        letter-spacing: 2px;
    }

    .main h5 {
        font-size: 10px;
        margin: 0;
        letter-spacing: 2px;
    }

    .about {
        margin-top: 0px;
        align-items: center;
        padding: 0px 5px;
    }

    .abt-text {
        max-width: 320px;
        color: #fff;
        text-align: justify;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
    }

    .abt-img img {
        display: none;
    }

    .services {
        margin-top: 120px;

    }

    .ser-head {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .ser-head p {
        max-width: 240px;
        font-size: 30px;
        color: #000000;
        background-color: #ecc36b;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;
        font-weight: 800;
    }

    /* card1 */
    .ser-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        gap: 40px;
    }

    .ser-card1 {
        max-width: 270px;
        justify-content: center;
        align-items: center;
    }

    .ser-card1 img {
        max-width: 270px;
        max-height: 225px;
        align-items: center;
    }

    .ser-card1 h4 {
        max-width: 270px;
        font-size: 20px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: center;
    }

    .ser-card1 p {
        max-width: 270px;
        color: #fff;
        font-weight: 500;
        text-align: justify;
    }

    /* card2 */
    .ser-card2 {
        max-width: 270px;
        justify-content: center;
        align-items: center;
    }

    .ser-card2 img {
        max-width: 270px;
        max-height: 225px;
        align-items: center;
    }

    .ser-card2 h4 {
        max-width: 270px;
        font-size: 20px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: center;
    }

    .ser-card2 p {
        max-width: 270px;
        color: #fff;
        font-weight: 500;
        text-align: justify;
    }


    /* card3 */

    .ser-card3 {
        max-width: 270px;
        justify-content: center;
        align-items: center;
    }

    .ser-card3 img {
        max-width: 270px;
        max-height: 225px;
        align-items: center;
    }

    .ser-card3 h4 {
        max-width: 270px;
        font-size: 20px;
        margin-bottom: 0px;
        color: #ecc36b;
        font-weight: 800;
        text-align: center;
    }

    .ser-card3 p {
        max-width: 270px;
        color: #fff;
        font-weight: 500;
        text-align: justify;
    }

    .project-container {
        padding: 0px 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .project {
        position: relative;
        max-width: 300px;
        max-height: 200px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

    .project img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .choose-container {
        padding: 0px 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .choose {
        max-width: 300px;
        max-height: 200px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 15px;
        border-radius: 18px;
        margin-top: 20px;
    }

    .choose-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .choose-pic h2 {
        margin: 0px;
        color: #ecc36b;
        font-size: 14px;
    }

    .choose-pic img {
        max-width: 40px;
        max-height: 40px;
    }

    .choose-description p {
        font-weight: 600;
        text-align: justify;
        color: #fff;
        font-size: 12px;
    }

    .footer-container {
        max-height: 400px;
        max-width: 476px;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0px 40px;
    }

    .footer-logo {
        margin-top: 30px;
        width: 150px;
        height: 150px;
    }

    .detail {
        max-width: 476px;
    }

    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .location .icon {
        font-size: 18px;
    }


    .location .address,
    .icon {
        color: #fff;
        font-size: 15px;
        font-weight: 800;
    }

    .mail {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mail .address,
    .icon {
        color: #fff;
        font-size: 18px;
        font-weight: 800;
    }



    .mail,
    .mail p {
        color: #fff;
        font-size: 14px;
        font-weight: 800;
    }

    .address {
        letter-spacing: 3px;
    }

    .mail .icon {
        font-size: 14px;
        margin-top: 5px;
        margin-right: 4px;
    }

    .social-logos {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        gap: 30px;
    }

    .footer-logo {
        max-width: 150px;
        max-height: 150px;
    }

    /* projects-detail */

    .projects-main {
        max-width: 100%;
        height: 300px;
        background-image: url(./img/projects.jpg);
        background-size: cover;
        background-position: center;
    }

    .projects-main h1 {
        background-color: rgba(0, 0, 0, 0.39);
        max-width: 100%;
        height: 300px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
        font-weight: 800;
        color: #fff;
    }

    .project-fibbi-main {
        max-width: 100%;
        height: 300px;
        background-image: url(./img/fibbi/fibbi.png);
        background-size: cover;
        background-position: center;
    }

    .project-fibbi-main h1 {
        background-color: rgba(0, 0, 0, 0.39);
        max-width: 100%;
        height: 300px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: 800;
        color: #fff;
    }

    .project-faiz-main {
        max-width: 100%;
        height: 300px;
        background-image: url(./img/faiz\ tower.png);
        background-size: cover;
        background-position: center;
    }

    .project-faiz-main h1 {
        background-color: rgba(0, 0, 0, 0.39);
        max-width: 100%;
        height: 300px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: 800;
        color: #fff;
    }

    .project-baj-main {
        max-width: 100%;
        height: 300px;
        background-image: url(./img/baj/baj.jpeg);
        background-size: cover;
        background-position: center;
    }

    .project-baj-main h1 {
        background-color: rgba(0, 0, 0, 0.39);
        max-width: 100%;
        height: 300px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: 800;
        text-align: center;
        color: #fff;
    }

    .project-container2 {
        padding: 40px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 70px;
    }



    .project-container2 .project-image img {
        max-width: 300px;
        height: 300px;
        border: 10px solid #fff;
        border-radius: 25px;
    }

    .project-detail {
        max-width: 600px;
        height: 500px;
        color: #fff;
        text-align: center;
    }

    .project-detail h3 {
        font-size: 40px;
        font-weight: 800;
        margin: 0px;
        color: #ecc36b;
        letter-spacing: 3px;
    }


    .project-detail h4 {
        font-size: 30px;
        font-weight: 800;
        margin: 0px;
    }

    .project-detail p {
        font-size: 16px;
        font-weight: 600;
        margin: 0px;
        text-align: justify;
        margin-top: 10px;
        padding: 0px;
    }

    /* contact page */
    h2 {
        font-size: 14px;
    }

    label {
        font-size: 12px;
    }
}